In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('adult.data',header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [16]:
df.columns = ['age','workclass','workclass','education','education-num','marital-status','occupation','relationship','race','sex','capital-gain','capital-loss','hours-per-week','native_country','salary']
df.head()

,age,workclass,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native_country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
race_count = df['race'].value_counts()
race_count

 White                 27816
 Black                  3124
 Asian-Pac-Islander     1039
 Amer-Indian-Eskimo      311
 Other                   271
Name: race, dtype: int64

In [6]:
average_age_men = df[df['sex']=='Male'].age
average_age_men = average_age_men.mean()
average_age_men

nan

In [7]:
percentage_bachelors = (df[df['education']=='Bachelors'].education.value_counts()/len(df['education']))*100
percentage_bachelors

Series([], Name: education, dtype: float64)

In [8]:
df['education'].value_counts()

 HS-grad         10501
 Some-college     7291
 Bachelors        5355
 Masters          1723
 Assoc-voc        1382
 11th             1175
 Assoc-acdm       1067
 10th              933
 7th-8th           646
 Prof-school       576
 9th               514
 12th              433
 Doctorate         413
 5th-6th           333
 1st-4th           168
 Preschool          51
Name: education, dtype: int64

In [9]:
higher_education = df[df['education'].isin(['Bachelors','Masters','Doctorate'])]
lower_education = df[~df['education'].isin(['Bachelors','Masters','Doctorate'])]

# percentage with salary >50K
higher_education_rich = round(len(higher_education[higher_education['salary']=='>50K'])/len(higher_education)*100,1)
lower_education_rich = round(len(lower_education[lower_education['salary']=='>50K'])/len(lower_education)*100,1)

ZeroDivisionError: division by zero

In [ ]:
 # What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df['hours-per-week'].min()

# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
num_min_workers = len(df[df['hours-per-week']==min_work_hours])

rich_percentage = round(len(df[(df['hours-per-week']==min_work_hours)&(df['salary']=='>50K')])/num_min_workers*100,1)

In [20]:
 # What country has the highest percentage of people that earn >50K?
temp = (df[df['salary'] == '>50K']['native_country'].value_counts() / df['native_country'].value_counts())*100
highest_earning_country = temp.idxmax()
highest_earning_country_percentage = round(temp.max(), 1)

In [21]:
 # Identify the most popular occupation for those who earn >50K in India.
temp1 = df[df['native_country'] == 'India']
temp1 = temp1[temp1['salary'] == '>50K']
top_IN_occupation = temp1['occupation'].value_counts().idxmax()

ValueError: attempt to get argmax of an empty sequence